@font-face {
            font-family: "ITC AVANT GARDE";
            src: url('ITCAVANTGARDEPRO-BK.OTF'),
                 url('ITCAVANTGARDEPRO-BKOBL-2.OTF'),
                 url('ITCAVANTGARDEPRO-BOLD-2.OTF'),
                 url('ITCAVANTGARDEPRO-BOLDOBL-2.OTF'),
                 url('ITCAVANTGARDEPRO-DEMI.OTF'),
                 url('ITCAVANTGARDEPRO-DEMIOBL-2.OTF'),
                 url('ITCAVANTGARDEPRO-MD.OTF');
        }
