  body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-image: url("images/fondo_landing_y3.png");
  /*background-position: center center;*/
  background-size: cover;
  overflow: hidden;
  font-family: "Century Gothic";
}
